<!-- An HTML page with top navigation and a profile that is rendered if the user is logged in -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<div role="main" class="container">
  <br /><br />

  <h2>Exercise 3.3 Passing Data to Routes, Part 2</h2>

  <br /><br />
<!-- Checks if the isLoggedIn variable is true, else calls the "showError" ng-template-->
  <div class="row" *ngIf="isLoggedIn; else showError">
    <div class="col-sm-4">
      <app-my-image></app-my-image>
    </div>
    <div class="col-sm-8">
      <app-my-details></app-my-details>
    </div>
  </div>
<!-- An ng-template directive that shows an error message if the isLoggedIn variable is false -->
  <ng-template #showError>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="alert-error">You are not authorized to view this content.</h3>
      </div>
    </div>
  </ng-template>
</div>

