/* Container styling */

.container {
  height: 100%;
  background-color: lavender;
}

/* Header styling */

h2 {
  font-size: 36px;
  text-align: center;
}

/* Image styling */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 500px;
}

/* Button styling */

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
