<!-- An HTML page with two columns displaying an image and a composer description -->

<br /><br />
<h2>Claude Debussy</h2>
<br /><br />

<div role="main" class="container">
  <div class="row">
    <div class="col-sm-8">
      <figure>
        <img src="../assets/debussy.jpg">
        <figcaption><a href="https://unsplash.com/photos/MlhJNEUQpBs">Source</a></figcaption>
      </figure>

    </div>
      <div class="col-sm-4">
        <p>Born Achille Claude Debussy in France on August 22, 1862, Claude Debussy was a French impressionist composer.  At the age of ten he attended one of France’s prominent music colleges, the Conservatoire de Paris, where he studied piano and discovered a passion for innovative composition.  Debussy received international fame in 1902 with the opera <i>Pelléas et Mélisande</i>.  His most famous works include <i>Claire de Lune</i>, <i>La mer</i>, <i>Suite begamasque</i> and <i>La fille aux cheveux de lin</i>, among others.  He died in 1918 at the age of fifty-six.</p>
      </div>
  </div>

</div>

