<!-- HTML About page with two columns that displays an image on the left and brief bio on the right -->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/pexels-suzy-hazelwood-1333742.jpg" alt="A stack of books.">
        <figcaption><a href="https://www.pexels.com/photo/stacked-books-1333742/" target="_blank" >Source</a></figcaption>
      </div>
    </div>
  </div>
  <div fxFlex class="about">
    <h1>Neil Gaiman</h1>
    <p>Born Neil Richard Gaiman in Porchester, Hampshire, England, Gaiman is an award-winning English author, comic book creator and screenwriter.  Best known for his work in science fiction and fantasy, Gaiman is also a comedic writer.  He is the first author to win both the Newbery and Carnegie medals for the same work, The Graveyard Book (2008).  His other notable works include American Gods, Stardust, The Sandman and Good Omens which he co-wrote with author Terry Pratchett.  Gaiman’s has also written screenplays for movies including Beowulf (2007) and written for several television shows, such as Doctor Who.  Many of his works have been adapted into popular movies and TV shows.</p>
  </div>
</div>
