<!-- HTML Contact page that displays two columns -->

<!-- Left column that displays an address with a Material icon as the header -->
<br />
<div fxLayout="row wrap" class="content-align">
  <div fxFlex>
    <mat-card-title>
      <mat-icon color="primary" class="icon">place</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <p>123 Book Ln</p>
      <p>Writertown, USA</p>
    </mat-card-content>
  </div>
<!-- Right column that displays a phone number with a Material icon as the header -->
  <div fxFlex>
    <mat-card-title>
      <mat-icon color="primary" class="icon">phone</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <p>555-555-5555</p>
    </mat-card-content>
  </div>
</div>
